node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Terraform
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/*.tfvars
terraform/*.tfvars.json
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.backup